:root {
    --radius: 7px;
    --heightHeader: 0px;
    --widthCanvas: 0px;
}

header {
    width: var(--widthCanvas);
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    & > .header-name > img {
        margin-bottom: 5px;
    }

    & > .time-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    & > .score-area {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
