:root {
    --radius: 7px;
    --heightHeader: 0px;
    --widthCanvas: 0px;
}

body {
    max-height: 100vh;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container-counter {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-canvas,
main {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#background {
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

#canvas {
    z-index: 2;
    border-radius: var(--radius);
}

#addEnnemis {
    border-radius: 7px;
    height: 50px;
    cursor: pointer;
}

.startTime {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--radius);
}

.container-counter {
    background: linear-gradient(0.75turn, rgb(119, 147, 154), rgba(95, 95, 165, 1), rgb(116, 121, 224));
    z-index: 2;
    position: absolute;
    outline: 1px solid rgb(87, 87, 108);
    left: 32%;
    right: 32%;
    top: 32%;
    bottom: 32%;
    animation: startCounter ease-out 1s 1 forwards;
    border-radius: var(--radius);
}

.rotateCounter {
    animation: rotationStartCounter ease-out 1s 1 forwards;
}

#startCounter {
    color: #fff;
    font-size: 45px;
    font-weight: 600;
}

@keyframes startCounter {
    0% {
        font-size: 35px;
    }

    50% {
        font-size: 70px;
    }

    100% {
        font-size: 0;
    }
}

@keyframes rotationStartCounter {
    0% {
        transform: rotate(0turn) scale(1);
    }
    100% {
        transform: rotate(1turn) scale(0.01);
    }
}
